.customer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.customer-rew {
  display: flex;
  align-items: center;
  margin-top: 32px;
  width: 280px;
  height: 308px;
  background-color: #fafafa;
  // outline: 1px solid black;
}

.customer-rew__text {
  position: relative;
  display: inline-flex;
  max-width: 157px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 2.58;
  text-align: center;

  color: #000000;

  background-image: repeating-linear-gradient(
    to bottom,
    #fafafa,
    #fafafa 30px,
    #e1e1e1 31px
  );
}
.customer-rew__text::before {
  content: '';
  display: inline-flex;
  width: 54px;
  height: 40px;
  background-image: url(../images/mobile/“.svg);
  position: absolute;
  top: -15px;
  left: -13px;
}

.customer-rew__text::after {
  content: '';
  display: inline-flex;
  width: 36px;
  height: 4px;
  background-image: url(../images/mobile/icon-circle-red.svg),
    url(../images/mobile/icon-circle-red.svg),
    url(../images/mobile/icon-circle-red.svg);
  background-repeat: no-repeat;
  background-size: 4px;
  background-position: left, center, right;
  position: absolute;
  top: 295px;
  left: 60px;

  // outline: 1px solid black;
}

// .customer_3circle {
//   display: flex;
//   font-size: 6px;
//   gap: 10px;
//   margin-top: 16px;
// }

.customer__name {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 186%;
  text-align: center;
  color: #000000;
  margin-top: 36px;
}

.customer_home-circle {
  display: flex;
  font-size: 6px;
  gap: 18px;
  margin-top: 16px;
}

.customer-rew__text::after {
  content: '';
  display: inline-flex;
  width: 32px;
  height: 4px;
  // background-color: orange;
  background-image: url(../images/mobile/icon-circle-red_mobile-01x1.svg),
    url(../images/mobile/icon-circle-red_mobile-01x1.svg),
    url(../images/mobile/icon-circle-red_mobile-01x1.svg);
  // background-image: url(../images/icons.svg#icon-circle-grey);
  background-size: 4px;
  position: absolute;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-position: left, center, right;
  top: 295px;
  right: 62px;
}
