.products {
  display: block;
  padding-top: 80px;
  padding-bottom: 40px;

  &__label {
    margin-bottom: 15px;
    font-family: 'Titan One', cursive;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.17;
    text-align: center;
    text-transform: uppercase;
    color: $secondary-heading-color;
  }

  &__title {
    margin-bottom: 8px;
    font-family: 'Titan One';
    font-weight: 400;
    font-size: 34px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: $primary-heading-color;

    &--white {
      margin-bottom: 32px;
      color: $white-heading-color;
      font-size: 20px;
    }

    &::before {
      content: '';
      // background-image: url(../images/mobile/icons.svg#icon-ellipse);
      background-size: contain;
      display: block;
      width: 280px;
      height: 280px;
      background-repeat: no-repeat;
      position: absolute;
    }
  }

  &__list {
    display: block;
    // display: flex;
    // flex-direction: column;
    // align-items: flex-end;
  }

  &__item {
    align-items: flex-end;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 629px;

    &::before {
      content: '';
      background-image: url(../images/mobile/ice-cream.png);
      background-size: contain;
      display: block;
      width: 280px;
      height: 280px;
      background-repeat: no-repeat;
      position: absolute;
    }

    &--ice-coffee {
      &::before {
        content: '';
        background-image: url(../images/mobile/ice-coffee.png);
        background-size: contain;
        display: block;
        width: 280px;
        height: 280px;
        background-repeat: no-repeat;
        position: absolute;
      }
    }

    &--milkshakes {
      &::before {
        content: '';
        background-image: url(../images/mobile/milkshakes.png);
        background-size: contain;
        display: block;
        width: 280px;
        height: 280px;
        background-repeat: no-repeat;
        position: absolute;
      }
    }
  }

  &__image {
    position: absolute;
    top: 0;
    margin-bottom: 20px;
  }

  &__icon {
    margin-bottom: 32px;
  }

  &__text {
    margin-bottom: 32px;
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;

    color: $white-heading-color;
  }

  &__button {
    margin-bottom: 40px;
    border-radius: 50%;
    border: none;
    width: 40px;
    height: 40px;
    display: inline-block;
    background-color: #ffffff;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
  }
}

.inner-content {
  margin-top: auto;
  align-items: center;
  height: 489px;
  background: #ffb8ca;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.inner-ice-coffee {
  margin-top: auto;
  align-items: center;
  height: 489px;
  background: #f0d1a5;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.inner-milkshakes {
  margin-top: auto;
  align-items: center;
  height: 489px;
  background: #c2e297;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
