<header class="header">
  <div class="container header__container">
    <img class="header__logo" src="./images/desktop/header/logo-desktop.png" alt="Логотип" width="199" height="50">
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item">
          <a class="nav__link" href="#">Home</a>
        </li>
        <li class="nav__item">
          
          <a class="nav__link" href="#">About us</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">How it’s made?</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">Our products</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">Contact</a>
        </li>
      </ul>
    </nav>

    <button class="header__button" type="button">Buy now
      <svg class="header__button-icon" width="4" height="8">
          <use href="./images/icons.svg#icon-vector"></use>
          
    </button>

    <!-- Mobile-menu -->
    <button type="button" class="header-menu__button" data-button>
      <svg class="header__menu-icon" width="20" height="12">
        <use
          class="header-menu__burger"
          href="./images/icons.svg#icon-burger"
        ></use>
        <use
          class="header-menu__close"
          href="./images/icons.svg#icon-close"
        ></use>
      </svg>
    </button>
    <div class="header__wrapper" data-menu>
      <!-- <button type="button" class="nav__menu-button" data-button-close>
        <svg class="nav__menu-icon" width="14" height="14">
          <use href="./images/icons.svg#icon-close"></use>
          
        </svg>
      </button> -->
      <button type="button" class="header__button">
        Buy now<svg class="about__button-icon" width="4" height="8">
          <use href="./images/icons.svg#icon-vector"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
