@import '~node_modules/modern-normalize/modern-normalize.css';
body {
  font-family: "DM Sans", sans-serif;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

h1,
h2,
h3,
h4,
h5,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
ul li {
  list-style: none;
}

a {
  text-decoration: none;
  font-style: normal;
  color: inherit;
  outline-color: rgb(212, 20, 67);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 320px) {
  .container {
    width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    width: 1280px;
  }
}

.section {
  padding-top: 40px;
  padding-bottom: 40px;
}
@media screen and (min-width: 1280px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.section__title {
  font-family: "Titan One", cursive;
  color: rgb(212, 20, 67);
}
.section__upper-title {
  font-family: "Titan One", cursive;
  color: rgb(255, 165, 186);
}

.example {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.5;
  background-color: #fff;
  color: #2f2f37;
  max-width: 960px;
  padding: 16px;
}

.example code {
  font-family: monospace;
  font-size: 16px;
  font-weight: 700;
  background-color: #ff6b0a;
  color: #fff;
  padding: 2px 6px;
  border-radius: 2px;
}

.example .background {
  height: 240px;
  background-size: cover;
  background-position: center;
}

.products {
  padding-top: 80px;
  padding-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .products {
    padding-top: 40px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1280px) {
  .products {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.products__label {
  margin-bottom: 15px;
  font-family: "Titan One", cursive;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;
  color: rgb(255, 165, 186);
}
@media screen and (min-width: 768px) {
  .products__label {
    margin-bottom: 18px;
    font-size: 26px;
    line-height: 1.15;
  }
}
@media screen and (min-width: 1280px) {
  .products__label {
    margin-bottom: 16px;
    font-size: 30px;
    line-height: 1.13;
  }
}
.products__title {
  margin-bottom: 8px;
  font-family: "Titan One";
  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: rgb(212, 20, 67);
}
@media screen and (min-width: 768px) {
  .products__title {
    margin-bottom: 16px;
    font-size: 48px;
    line-height: 1.15;
  }
}
@media screen and (min-width: 1280px) {
  .products__title {
    margin-bottom: 0;
    font-size: 58px;
    line-height: 1.14;
  }
}
.products__title--white {
  margin-bottom: 32px;
  color: rgb(255, 255, 255);
  font-size: 20px;
}
@media screen and (min-width: 1280px) {
  .products__title--white {
    font-size: 30px;
    line-height: 1.13;
  }
}
.products__list {
  display: block;
}
@media screen and (min-width: 768px) {
  .products__list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
  }
}
.products__item {
  align-items: flex-end;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 629px;
}
.products__item::before {
  content: "";
  background-image: url(../images/mobile/ice-cream.png);
  background-size: contain;
  display: block;
  width: 280px;
  height: 280px;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .products__item::before {
    background-image: url(../images/mobile/ice-cream@2x.png);
  }
}
@media screen and (min-width: 768px) {
  .products__item::before {
    background-image: url(../images/tablet/ice-cream.png);
    width: 224px;
    height: 224px;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .products__item::before {
    background-image: url(../images/tablet/ice-cream@2x.png);
  }
}
@media screen and (min-width: 1280px) {
  .products__item::before {
    background-image: url(../images/desktop/ice-cream.png);
    width: 394px;
    height: 394px;
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .products__item::before {
    background-image: url(../images/desktop/ice-cream@2x.png);
  }
}
.products__item--ice-coffee::before {
  content: "";
  background-image: url(../images/mobile/ice-coffee.png);
  background-size: contain;
  display: block;
  width: 280px;
  height: 280px;
  background-repeat: no-repeat;
  position: absolute;
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .products__item--ice-coffee::before {
    background-image: url(../images/mobile/ice-coffee@2x.png);
  }
}
@media screen and (min-width: 768px) {
  .products__item--ice-coffee::before {
    background-image: url(../images/tablet/ice-coffee.png);
    width: 224px;
    height: 224px;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .products__item--ice-coffee::before {
    background-image: url(../images/tablet/ice-coffee@2x.png);
  }
}
@media screen and (min-width: 1280px) {
  .products__item--ice-coffee::before {
    background-image: url(../images/desktop/ice-coffee.png);
    width: 394px;
    height: 394px;
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .products__item--ice-coffee::before {
    background-image: url(../images/desktop/ice-coffee@2x.png);
  }
}
.products__item--milkshakes::before {
  content: "";
  background-image: url(../images/mobile/milkshakes.png);
  background-size: contain;
  display: block;
  width: 280px;
  height: 280px;
  background-repeat: no-repeat;
  position: absolute;
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .products__item--milkshakes::before {
    background-image: url(../images/mobile/milkshakes@2x.png);
  }
}
@media screen and (min-width: 768px) {
  .products__item--milkshakes::before {
    background-image: url(../images/tablet/milkshakes.png);
    width: 224px;
    height: 224px;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .products__item--milkshakes::before {
    background-image: url(../images/tablet/milkshakes@2x.png);
  }
}
@media screen and (min-width: 1280px) {
  .products__item--milkshakes::before {
    background-image: url(../images/desktop/milkshakes.png);
    width: 394px;
    height: 394px;
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .products__item--milkshakes::before {
    background-image: url(../images/desktop/milkshakes@2x.png);
  }
}
@media screen and (min-width: 768px) {
  .products__item {
    min-height: 611px;
  }
  .products__item:not(:last-child) {
    margin-right: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .products__item {
    min-height: 796px;
  }
  .products__item:not(:last-child) {
    margin-right: 32px;
  }
}
.products__text {
  margin-bottom: 32px;
  padding-left: 41px;
  padding-right: 39px;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: rgb(255, 255, 255);
}
@media screen and (min-width: 768px) {
  .products__text {
    padding-left: 36px;
    padding-right: 36px;
    line-height: 1.8;
  }
}
@media screen and (min-width: 1280px) {
  .products__text {
    margin-bottom: 60px;
    padding-left: 75px;
    padding-right: 75px;
    font-size: 16px;
    line-height: 1.8;
  }
}
.products__text::before {
  content: "";
  background-image: url(../images/mobile/elipse.svg);
  background-size: contain;
  display: block;
  width: 28px;
  height: 6px;
  background-repeat: no-repeat;
  margin-bottom: 32px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .products__text-hidden {
    display: none;
  }
}
.products__button {
  margin-bottom: 40px;
  border-radius: 50%;
  border: none;
  width: 40px;
  height: 40px;
  display: inline-block;
  background-color: #ffffff;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}
@media screen and (min-width: 1280px) {
  .products__button {
    margin-bottom: 60px;
  }
}
.products__button:hover, .products__button:active {
  border: 2px solid rgb(212, 20, 67);
}
.products__button:focus {
  outline-color: rgb(212, 20, 67);
}

.inner-content {
  margin-top: auto;
  align-items: center;
  height: 489px;
  background: #ffb8ca;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
@media screen and (min-width: 768px) {
  .inner-content {
    height: 473px;
  }
}
@media screen and (min-width: 1280px) {
  .inner-content {
    height: 535px;
  }
}

.inner-ice-coffee {
  margin-top: auto;
  align-items: center;
  height: 489px;
  background: #f0d1a5;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
@media screen and (min-width: 768px) {
  .inner-ice-coffee {
    height: 473px;
  }
}
@media screen and (min-width: 1280px) {
  .inner-ice-coffee {
    height: 535px;
  }
}

.inner-milkshakes {
  margin-top: auto;
  align-items: center;
  height: 489px;
  background: #c2e297;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
@media screen and (min-width: 768px) {
  .inner-milkshakes {
    height: 473px;
  }
}
@media screen and (min-width: 1280px) {
  .inner-milkshakes {
    height: 535px;
  }
}/*# sourceMappingURL=index.css.map */